body{
  background-color: #e0e0e0;
}
.mother-container{
  display: flex;
  justify-content: center;
}
.main-container {
  max-width: 800px;
  margin: 10px;
  padding: 5px 0;
  background-color: white;
  border-radius: 15px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* grid with 5 column */
  gap: 10px;
  padding: 3% 10px;
  margin: 0 auto;
  
  
}
.large-image {
  grid-column: 1 / span 2; /* span 2 columns */
  grid-row: 1 / span 2;    /* span 2 rows */
}
.image-container  {
  position: relative;
  display: inline-block;
  border: 1px solid #b4b2b2de;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s;
  overflow: hidden; 
}

.image-container img:hover {
  border-radius: 15px;
  cursor: pointer;
   transition: background-color 0.3s;
  filter: brightness(70%);
  background-color: rgba(228, 226, 226, 0.993)
}
.image-container input[type="checkbox"] {
  display: none;
}
.image-container:hover input[type="checkbox"]{
  display: block;  
}

.selected-image-container{
  position: relative;
  display: inline-block;
  border: 1px solid #b4b2b2de;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.3s;
  overflow: hidden; 

  filter: brightness(95%);
  background-color: rgba(243, 239, 239, 0.993);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
  font-weight: bolder;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.controls a {
  cursor: pointer;
  color: rgb(224, 17, 17);
}


.checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
}

.add-photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dotted #b4b2b2de;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.add-photo > img{
  height: 30px;
  width: 30px;
}